<section>
	<mat-card>
		<p class="fullname">CaiqueCardoso19 / 
			<a href="{{repoDetail?.html_url}}">{{repoDetail?.name}}</a>
		</p>	
	
		<div *ngFor="let language of languages">
			{{language}}
		</div>
	
		<section>
			<span class="fa fa-star checked star-icon block center">  {{repoDetail?.stargazers_count}}</span>
			<span class="description block">{{repoDetail?.description}}</span>
		</section>
	
		<button class="button-black m-l-15 fixedbutton left" (click)="goBack()" mat-button>
			<span>back</span>
		</button>	
	</mat-card>
</section>

